<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un Patient</title>
</head>
<body>

<th:block th:replace="layout :: content">

    <h2>Ajouter un Patient</h2>

    <form th:action="@{/patients/save}" th:object="${patient}" method="post">

        <div class="mb-3">
            <label>Nom :</label>
            <input type="text" class="form-control" th:field="*{nom}">
            <small class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></small>
        </div>

        <div class="mb-3">
            <label>Score :</label>
            <input type="number" class="form-control" th:field="*{score}">
            <small class="text-danger" th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></small>
        </div>

        <div class="mb-3">
            <label>Malade :</label>
            <input type="checkbox" th:field="*{malade}">
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>

</th:block>

</body>
</html>
