<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Patients</title>
</head>
<body>

<!-- Utilisation du template -->
<th:block th:replace="layout :: content">

    <h2 class="text-center">Liste des Patients</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Score</th>
            <th>Malade</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.nom}"></td>
            <td th:text="${patient.score}"></td>
            <td th:text="${patient.malade} ? 'Oui' : 'Non'"></td>
            <td>
                <a class="btn btn-danger btn-sm" th:href="@{/patients/delete/{id}(id=${patient.id})}">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>

</th:block>

</body>
</html>
